<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs")  %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle - THE CHILL</title>
</head>
<!-- <header>
    <div class="iconos">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
        <a class="ultimo" href="#"><i class="fa-solid fa-user"></i></a>
        <a class="ultimo" href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
    </div>
</header> -->

<body>
    <!-- <nav class="filtros">
        <a href="#">TODOS</a>
        <a href="#">CATEGORIAS</a>
        <a href="#">¿COMO BUSCAR?</a>
        <a href="#">AYUDA</a>
        <a href="#">¿COMO COMPRAR?</a>
    </nav> -->


    <%- include ("../partials/navbar.ejs") %>


    <main>
        <div class="descripcion">
            <span>Puesto en venta en la categoria: Top > <%= product.name %> > <%= product.type %></span>
        </div>
        <div class="contenedor-global">
            <div class="conteiner">
                <div class="ls">
                    <ul>
                        <li><img src="/images/<%= product.image %>" alt=""></li>
                        <li><img src="/images/<%= product.image %>" alt=""></li>
                        <li><img src="/images/<%= product.image %>" alt=""></li>
                    </ul>
                </div>
                <div class="imagen">
                    <img src="/images/<%= product.image %>" class="diffumine" alt="">
                </div>
            </div>
            <div class="detail">
                <div class="detalles">
                    <div class="titulo">
                        <p>
                            <%= product.name %>
                        </p>
                    </div>
                    <div class="calificacion">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>5 valoraciones del articulo</span>
                    </div>
                </div>
                <div class="row">
                    <hr />
                </div>
                <div class="row">
                    <label for="">Color:</label>
                    <select name="" id="color" class="color">
                        <option value=""><%= product.color %></option>
                        <option value="">Azul</option>
                        <option value="">Amarillo</option>
                        <option value="">Negro</option>
                        <option value="">Blanco</option>
                    </select>
                </div>
                <div class="row">
                    <div class="talles">
                        <span>Talle:</span>
                        <button>S/38</button>
                        <button>M/40</button>
                        <button>L/42</button>
                        <button>XL/44</button>
                    </div>
                </div>
                <div class="row">
                    <hr />
                </div>
                <div class="contenedor-compra">
                    <div class="conteiner-precio">
                        <div class="row">
                            <div class="cantidad">
                                <label for="">Cantidad:</label>
                                <input type="number" value="2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="precio">
                                <label for="">Precio:</label>
                                <span>$<%= product.price %></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="acciones">
                            <button>Comprar ahora</button>
                            <button>Agregar al carrito <i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
                        </div>
                        <a class="similar" href="#">Ver más producto similares</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="characteristic">
            <div class="caracteristica">
                <div class="tabla">
                    <h4 class="caracteristica-titulo">Caracteristicas del producto</h4>
                    <table>
                        <tr>
                            <td>Marca</td>
                            <td><%= product.brand %></td>
                        </tr>
                        <tr>
                            <td>Modelo</td>
                            <td><%= product.model %></td>
                        </tr>
                        <tr>
                            <td>Género</td>
                            <td><%= product.gender %></td>
                        </tr>
                        <tr>
                            <td>Tipo de prenda</td>
                            <td><%= product.type %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="rating">
                <div class="rating-box">
                    <h4 class="caracteristica-titulo">Opiniones del producto</h4>
                    <div class="estrella">
                        <span class="puntaje">4.6</span>
                        <div class="estrellitas">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <div class="">547 Calificaciones</div>
                        </div>
                    </div>
                    <div class="barrita">
                        <div class="barra">
                            <div class="track">
                                <div class="porcentaje porcentaje-80"></div>
                            </div>
                            <div class="calificacion-estrella">
                                <span>5</span><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="track">
                                <div class="porcentaje porcentaje-80"></div>
                            </div>
                            <div class="calificacion-estrella">
                                <span>4</span><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="track">
                                <div class="porcentaje porcentaje-60"></div>
                            </div>
                            <div class="calificacion-estrella">
                                <span>3</span><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="track">
                                <div class="porcentaje porcentaje-40"></div>
                            </div>
                            <div class="calificacion-estrella">
                                <span>2</span><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="barra">
                            <div class="track">
                                <div class="porcentaje porcentaje-20"></div>
                            </div>
                            <div class="calificacion-estrella">
                                <span>1</span><i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="comentario"><span>Ver comentarios</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-ultimo">
            <hr />
        </div>
        <article>
            <h4>Descripcíon</h4>
            <%= product.description %>
        </article>
        <article>
            ---------¿POR QUÉ ELEGIRNOS?---------
            Somos Moda "The Chill" Intenta ponerte de Chill, vendiendo hace 3 años en la plataforma!
            Su compra está segura!-Hacemos envíos a todo el país.-Entregamos Factura A o B.-los
            precios incluyen IVA.-Todos nuestros productos son NUEVOS.-Cuando realice la compra,
            podrás comunicarte con nosotros por MAIL, TELEFONO o WHATSAPP.
        </article>
        <article>
            -----------FORMAS DE PAGO-----------
            Tarjeta de crédito en hasta 12 cuotas (dependiendo del banco).-Tarjeta de Debito.-
            Con saldo precargado en tu cuenta de Mercado Pago.
        </article>
        <article>
            ------HACEMOS ENVÍOS EN EL DÍA!-------
            Contamos con Mercado Envío Flex, sistema con el cual puede tener su producto de forma
            más rápida que con Mercado Envíos convencional para compradores dentro de los partidos
            indicados y CABA tambienm indicando "Acuerdo la entrega con el vendedor" te podemos
            mandar una moto privada en el día a CABA y GBA. Recargo por lluvia de mensajería privada:
            50% extra.
        </article>
        <article>
            ----------ENVÍOS AL INTERIOR-----------
            Mercado Envíos por correo Argentino a la sucursal o tu domicilio.
        </article>

    </main>


    <%- include ("../partials/footer.ejs") %>

</body>

</html>