<!-- NAVBAR -->
<header>
  <% console.log("DATOSSSS",locals.isLogged, locals.userLogged) %>
    <div class="nav" style="<%= locals.isLogged ? 'padding-top: 9px;' : '' %>">
      <div class="contentNav">
        <div class="menu">
            <button id="toggleButton" class="toggle" style="border-style: none; background-color: #002B5B;">
              <span></span>
              <span></span>
              <span></span>
            </button>
        </div>
        <div class="logo">
          <a href="/">THE CHILL.</a>
          <div class="navbarOptions">
           
            <ul class="navbarCategories">
              <% if (locals.userData) { %>
                <% if (!userData.admin) { %>
                  
                  <li><a href="/">HOMBRE</a></li>
                  <li><a href="/">MUJER</a></li> 
                  <li><a href="/">NIÑOS</a></li> 
                  <li><a href="/">DEPORTE</a></li> 
                  <li><a href="/">AYUDA</a></li> 
                  <li><a href="/">SOBRE THE CHILL</a></li> 
                <% } else { %>
               
                <% } %>
            
                <% if (userData.admin) { %>
                  
                  <li><a href="/admin">GESTION DE PRODUCTOS</a></li>
                  <li><a href="/admin">GESTION DE USUARIOS</a></li>
                  <li><a href="/admin">PANEL DE ADMINISTRADOR</a></li>
                <% } %>
              <% } else { %>
                 <li><a href="/">HOMBRE</a></li> 
                 <li><a href="/">MUJER</a></li> 
                 <li><a href="/">CONTACTO</a></li> 
                 <li><a href="/">SOBRE THE CHILL</a></li> 
                 <li><a href="/">AYUDA</a></li> 
                 <li><a href="/register">REGISTRARSE</a></li> 
              <% } %>
            
            </ul>




          </div>
        </div>
        <div class="userOptions">
          <% if(locals.isLogged){ %>
          
            <a href="" class="linkProfile">
              <div class="userLogged menu-dropdown">
                <img src="/images/profilephotos/<%= locals.userLogged.avatar %>" style="padding: 1px 0;margin: 2px;"
                  alt="">
                 <p> <% if (locals.userData && userData.admin) {%>
                    Adm
                    
                      <% }%>
                <%= locals.userLogged.first_name %>
                </p>
                <svg style="margin-left: -10px;padding-top:3px;" xmlns="http://www.w3.org/2000/svg" height="20"
                  viewBox="0 -960 960 960" width="10">
                  <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
                <ul class="sub-menu">
                  <li>
                    <a href="/profile/<%= locals.userLogged.id %>">
                      Perfil
                    </a>
                    
                  </li>


                  <% if (locals.userData) { %>
                    <% if (!userData.admin) { %>
                      <li><a href="/profile">Favoritos</a></li>
                      <li><a href="/carrito">Mi carrito</a></li>
                      <li><a href="/profile/<%= locals.userLogged.id %>">Configuraciones</a></li>
                      <li><a href="/profile">Notificaciones</a></li>
                      <form action="../logout" method="get" class="logoutButtonNav">
                        <li><button type="submit">Cerrar Sesión</button></li>
                      </form>
                   
                    <% } else { %>
                   
                    <% } %>
                
                    <% if (userData.admin) { %>
                      
                      <li><a href="/profile/<%= locals.userLogged.id %>">Configuraciones</a></li>
                      <li><a href="/">Notificaciones</a></li>
                      <li><a href="/">Negocio</a></li>
                      <li><a href="/">Estadisticas</a></li>
                      <form action="../logout" method="get" class="logoutButtonNav">
                        <li><button type="submit">Cerrar Sesión</button></li>
                      </form>
                      
                    <% } %>
                  <% } else { %>
                    <li><a href="/profile">Favoritos</a></li>
                    <li><a href="/carrito">Mi carrito</a></li>
                    <li><a href="/profile/<%= locals.userLogged.id %>">Configuraciones</a></li>
                    <li><a href="/profile">Notificaciones</a></li>
                    <form action="../logout" method="get" class="logoutButtonNav">
                      <li><button type="submit">Cerrar Sesión</button></li>
                    </form>
                  <% } %>
                 
                </ul>
              </div>
            </a>
            <% }else{%>
              <a href="/login">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <title />
                  <g id="about">
                    <path d="M16,16A7,7,0,1,0,9,9,7,7,0,0,0,16,16ZM16,4a5,5,0,1,1-5,5A5,5,0,0,1,16,4Z" />
                    <path
                      d="M17,18H15A11,11,0,0,0,4,29a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1A11,11,0,0,0,17,18ZM6.06,28A9,9,0,0,1,15,20h2a9,9,0,0,1,8.94,8Z" />
                  </g>
                </svg>
              </a>
              <% } %>

              <% if (locals.userData) { %>
                <% if (!userData.admin) { %>
                  <a href="/carrito">
                    <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                      <rect fill="none" height="256" width="256" />
                      <path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                      <circle cx="80" cy="204" fill="none" r="20" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                      <circle cx="184" cy="204" fill="none" r="20" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16" />
                      <path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                    </svg>
                  </a>
            
                <% } else { %>
               
                <% } %>
            
                <% if (userData.admin) { %>
                  
                 
                  
                <% } %>
              <% } else { %>
                <a href="/carrito">
                  <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="none" height="256" width="256" />
                    <path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="#fff"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                    <circle cx="80" cy="204" fill="none" r="20" stroke="#fff" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="16" />
                    <circle cx="184" cy="204" fill="none" r="20" stroke="#fff" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="16" />
                    <path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="#fff"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                  </svg>
                </a>
              <% } %>


        </div>
      </div>
    </div>
    <div class="navCategories">
      <ul class="menuCategories">
        <li>Todos</li>
        <li>Ofertas</li>
        <li>Categorias</li>
        <li>Ayuda</li>
      </ul>
    </div>
    <script>
      const openMenu = () => {
        let menuButtons = document.getElementsByClassName("navbarCategories");
        let menuButton = menuButtons[0];
        // console.log(menuButton)
        menuButton.style.left = (menuButton.style.left === "0px") ? "-100%" : "0px";
      }
      const animateMenu = () => {
        let menuButtons = document.getElementsByClassName("toggle");
        let menuButton = menuButtons[0];
        console.log("a",menuButton)
        menuButton.classList.toggle("active")
      }

      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('toggleButton').addEventListener('click', openMenu);
        document.getElementById('toggleButton').addEventListener('click', animateMenu);
      });
    </script>
</header>