
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head.ejs")  %>
  <link rel="stylesheet" href="css/index.css">
  <title>Home - THE CHILL</title>

</head>

<body>

  <%- include ("../partials/navbar.ejs") %>

 
  
  
  
  <!-- <h5 class="subtitulo">Nuestros productos</h5> -->
  <h3 class="subtituloo"> <%= products.length %> Resultados para la busqueda:  <%= text %></h3>
  <% if (products.length === 0 ) { %>
  <h1 class="subtituloo">No se encontraron coincidencias</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <% } %>
  <div class="containerHomeCards">
      <% products.map(p=> { %>

        <div class="cardh">
          <a href="/productDetail/<%= p.id %>">
            <img src="images/<%= p.image %>" alt="imagenprod" />
            <div class="detalle">
              <p class="currentPrice">$ <%= p.price %>
              </p>
              <p>
                <%= p.title %>
              </p>
              <div class="estrellas">
                <div class="ima">
                  <img src="images/clasificacion.png" alt="" />
                  <p> 2589</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
    </div>

  <!-- <div class="cen">
    <div class=" line"></div>
  </div>

  <h5 class="subtitulo">Basado en tu última visita</h5>

 

  <div class="cen">
    <div class=" line"></div>
  </div>

  <h5 class="subtitulo">Ofertas</h5> -->

  
  <%- include ("../partials/footer.ejs") %>
  
</body>

</html>