<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
        <title>Ingresa! - The Chill</title>
        <link rel="stylesheet" href="css\login.css">
</head>

<body>
    <%- include ("../partials/navbar.ejs") %>


        <!-- CONTENIDO PRINCIPAL DEL LOGIN -->
        <main>
            <section>
                <article class="login">
                    <div class="user">
                        <form action="../login" method="post" enctype="multipart/form-data" class="user-ingreso">
                            <h1>¡Bienvenido!</h1>
                            <h4>Ingresa con tu usuario y contraseña</h4>

                            <div class="email-input">
                                <label for="email">Usuario</label>
                                <input type="text" name="email" id="email" placeholder="Usuario" value="leasns77o@gmail.com"
                                    class="<%= locals.errors && errors.firstname ? 'inputError' : null %>">
                                    <div id="errorMessageContainerE"
                                        style="font-size: 13px; margin-top: -10px; margin-bottom: 10px; color: #EA5455; opacity: 0; transition: opacity 0.5s ease;">
                                        <div id="errorMessageE"></div>
                                    </div>
                            </div>
                            <% if (locals.errors && errors.email) { %>
                                <div style="font-size: 13px; margin-top: -10px;margin-bottom: 10px;color: #EA5455;">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>

                                    <div class="password-input">
                                        <label for="pass">Contraseña</label>
                                        <input type="password" name="password" id="pass" placeholder="password"
                                            value="43114035Lea*">
                                            <div id="errorMessageContainerP"
                                                style="font-size: 13px; margin-top: -10px; margin-bottom: 10px; color: #EA5455; opacity: 0; transition: opacity 0.5s ease;">
                                                <div id="errorMessageP"></div>
                                            </div>
                                    </div>
                                    <% if (locals.errors && errors.password) { %>
                                        <div
                                            style="font-size: 13px; margin-top: -10px;margin-bottom: 10px;color: #EA5455;">
                                            <%= errors.password.msg %>
                                        </div>
                                        <% } %>
                                            <button type="submit" class="ingresar">INGRESAR</button>

                                            <a href="/register" class="contraseña">¿No tienes una cuenta?</a>
                        </form>
                        <div class="user-icon">
                            <img src="images/logoFinal.png" alt="">
                        </div>
                    </div>
                </article>
            </section>
        </main>

        <%- include ("../partials/footer.ejs") %>
            <script src="/js/userLoginValidator.js"></script>

</body>

</html>