<html lang="en">

<head>
  <%- include ("../partials/head.ejs") %>
    <title> Mi Perfil - The Chill</title>
    <link rel="stylesheet" href="css\profile.css">
</head>

<body>
  <%- include ("../partials/navbar.ejs") %>


    <!-- CONTENIDO PRINCIPAL DEL LOGIN -->
    <main>
      <section>
        <article class="login">
          <div class="userOptionsLogged">
            <ul>
              <h1>Perfil de usuario</h1>
              <li class="active"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                  width="34">
                  <path
                    d="M247.846-260.615q51-36.693 108.231-58.039Q413.308-340 480-340q66.692 0 123.923 21.346 57.231 21.346 108.231 58.039 39.615-41 63.731-96.847Q800-413.308 800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 66.692 24.115 122.538 24.116 55.847 63.731 96.847ZM480.023-460q-50.562 0-85.292-34.707Q360-529.415 360-579.977t34.707-85.292Q429.415-700 479.977-700t85.292 34.708Q600-630.585 600-580.023q0 50.562-34.708 85.292Q530.585-460 480.023-460ZM480-120q-75.308 0-141-28.038-65.692-28.039-114.308-76.654Q176.077-273.308 148.038-339 120-404.692 120-480t28.038-141q28.039-65.692 76.654-114.308Q273.308-783.923 339-811.962 404.692-840 480-840t141 28.038q65.692 28.039 114.308 76.654Q783.923-686.692 811.962-621 840-555.308 840-480t-28.038 141q-28.039 65.692-76.654 114.308Q686.692-176.077 621-148.038 555.308-120 480-120Zm0-40q55.308 0 108.846-19.346 53.539-19.346 92.539-52.962-39-31.307-90.231-49.5Q539.923-300 480-300q-59.923 0-111.538 17.808-51.616 17.807-89.847 49.884 39 33.616 92.539 52.962Q424.692-160 480-160Zm0-340q33.692 0 56.846-23.154Q560-546.308 560-580q0-33.692-23.154-56.846Q513.692-660 480-660q-33.692 0-56.846 23.154Q400-613.692 400-580q0 33.692 23.154 56.846Q446.308-500 480-500Zm0-80Zm0 350Z" />
                </svg>Información de usuario</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="34">
                  <path
                    d="m480-173.846-30.308-27.385q-97.923-89.461-162-153.153-64.077-63.693-101.154-112.347-37.077-48.654-51.807-88.038Q120-594.154 120-634q0-76.308 51.846-128.154Q223.692-814 300-814q52.769 0 99 27t81 78.538Q514.769-760 561-787t99-27q76.308 0 128.154 51.846Q840-710.308 840-634q0 39.846-14.731 79.231-14.73 39.384-51.807 88.038-37.077 48.654-100.769 112.347Q609-290.692 510.308-201.231L480-173.846ZM480-228q96-86.769 158-148.654 62-61.884 98-107.384t50-80.616q14-35.115 14-69.346 0-60-40-100t-100-40q-47.769 0-88.154 27.269-40.384 27.269-72.307 82.116h-39.078q-32.692-55.616-72.692-82.5Q347.769-774 300-774q-59.231 0-99.615 40Q160-694 160-634q0 34.231 14 69.346 14 35.116 50 80.616t98 107q62 61.5 158 149.038Zm0-273Z" />
                </svg>Artículos favoritos</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path
                    d="M264.615-120Q237-120 218.5-138.5 200-157 200-184.615v-430.77Q200-643 218.5-661.5 237-680 264.615-680H340v-20q0-58.308 40.846-99.154T480-840q58.308 0 99.154 40.846T620-700v20h75.385Q723-680 741.5-661.5 760-643 760-615.385v430.77Q760-157 741.5-138.5 723-120 695.385-120h-430.77Zm0-40h430.77q9.23 0 16.923-7.692Q720-175.385 720-184.615v-430.77q0-9.23-7.692-16.923Q704.615-640 695.385-640H620v100q0 8.538-5.731 14.269Q608.539-520 600-520t-14.269-5.731Q580-531.462 580-540v-100H380v100q0 8.538-5.731 14.269Q368.539-520 360-520t-14.269-5.731Q340-531.462 340-540v-100h-75.385q-9.23 0-16.923 7.692Q240-624.615 240-615.385v430.77q0 9.23 7.692 16.923Q255.385-160 264.615-160ZM380-680h200v-20q0-42.231-28.885-71.115Q522.231-800 480-800q-42.231 0-71.115 28.885Q380-742.231 380-700v20ZM240-160v-480 480Z" />
                </svg>Mis compras</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="34">
                  <path
                    d="m405.384-120-14.461-115.692q-19.154-5.769-41.423-18.154-22.269-12.385-37.885-26.538L204.923-235l-74.616-130 92.231-69.539q-1.769-10.846-2.923-22.346-1.154-11.5-1.154-22.346 0-10.077 1.154-21.192t2.923-25.038L130.307-595l74.616-128.462 105.923 44.616q17.923-14.923 38.769-26.923 20.846-12 40.539-18.539L405.384-840h149.232l14.461 116.461q23 8.077 40.654 18.539 17.654 10.461 36.346 26.154l109-44.616L829.693-595l-95.308 71.846q3.308 12.385 3.692 22.731.385 10.346.385 20.423 0 9.308-.769 19.654-.77 10.346-3.539 25.038L827.923-365l-74.615 130-107.231-46.154q-18.692 15.693-37.615 26.923-18.923 11.231-39.385 17.77L554.616-120H405.384ZM440-160h78.231L533-268.308q30.231-8 54.423-21.961 24.192-13.962 49.269-38.269L736.462-286l39.769-68-87.539-65.769q5-17.077 6.616-31.423 1.615-14.346 1.615-28.808 0-15.231-1.615-28.808-1.616-13.577-6.616-29.884L777.769-606 738-674l-102.077 42.769q-18.154-19.923-47.731-37.346t-55.961-23.115L520-800h-79.769l-12.462 107.538q-30.231 6.462-55.577 20.808-25.346 14.346-50.423 39.423L222-674l-39.769 68L269-541.231q-5 13.462-7 29.231-2 15.769-2 32.769Q260-464 262-449q2 15 6.231 29.231l-86 65.769L222-286l99-42q23.538 23.769 48.885 38.115 25.346 14.347 57.115 22.347L440-160Zm38.923-220q41.846 0 70.923-29.077 29.077-29.077 29.077-70.923 0-41.846-29.077-70.923Q520.769-580 478.923-580q-42.077 0-71.039 29.077-28.961 29.077-28.961 70.923 0 41.846 28.961 70.923Q436.846-380 478.923-380ZM480-480Z" />
                </svg>Configuraciones</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="34">
                  <path
                    d="M200-209.231v-40h64.615v-316.923q0-78.384 49.616-137.884Q363.846-763.539 440-778.154V-800q0-16.667 11.64-28.334Q463.28-840 479.91-840q16.629 0 28.359 11.666Q520-816.667 520-800v21.846q76.154 14.615 125.769 74.116 49.616 59.5 49.616 137.884v316.923H760v40H200Zm280-286.154Zm-.136 390.77q-26.71 0-45.595-18.981-18.884-18.981-18.884-45.635h129.23q0 26.846-19.02 45.731-19.021 18.885-45.731 18.885ZM304.615-249.231h350.77v-316.923q0-72.923-51.231-124.154-51.231-51.23-124.154-51.23t-124.154 51.23q-51.231 51.231-51.231 124.154v316.923Z" />
                </svg>Notificaciones</li>
            </ul>


            <form action="../logout" method="get" class="logoutButton">
              <button type="submit" class="logout"><svg xmlns="http://www.w3.org/2000/svg" height="24"
                  viewBox="0 -960 960 960" width="24">
                  <path
                    d="M224.615-160Q197-160 178.5-178.5 160-197 160-224.615v-510.77Q160-763 178.5-781.5 197-800 224.615-800h256.154v40H224.615q-9.23 0-16.923 7.692Q200-744.615 200-735.385v510.77q0 9.23 7.692 16.923Q215.385-200 224.615-200h256.154v40H224.615Zm433.846-178.461-28.077-28.77L723.154-460H367.692v-40h355.462l-92.77-92.769 28.077-28.77L800-480 658.461-338.461Z" />
                </svg>Cerrar Sesion</button>
            </form>
          </div>
          <div class="user">
            <div class="mainProfile">
              <div class="imageProfile">
                <img src="images/profilephotos/<%= userData.avatar %>" alt="img-del-Perfil">
                <button class="buttonProfileEdit">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0,0,256,256">
                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                      font-family="none" font-weight="none" font-size="none" text-anchor="none"
                      style="mix-blend-mode: normal">
                      <g transform="scale(5.12,5.12)">
                        <path
                          d="M46.57422,3.42578c-0.94922,-0.94922 -2.19531,-1.42578 -3.44141,-1.42578c-1.24609,0 -2.49219,0.47656 -3.44141,1.42578c0,0 -0.07031,0.06641 -0.16016,0.16016c-0.00781,0.00781 -0.01953,0.01172 -0.02734,0.01953l-35.20312,35.19922c-0.12109,0.125 -0.21094,0.27734 -0.25781,0.44922l-2.00781,7.48828c-0.09375,0.34375 0.00391,0.71094 0.25781,0.96484c0.19141,0.19141 0.44531,0.29297 0.70703,0.29297c0.08594,0 0.17188,-0.01172 0.25781,-0.03516l7.48828,-2.00781c0.17188,-0.04687 0.32422,-0.13672 0.44922,-0.26172l35.19922,-35.19531c0.01172,-0.01172 0.01563,-0.02734 0.02344,-0.03906c0.08984,-0.08984 0.15234,-0.15234 0.15234,-0.15234c1.90625,-1.90234 1.90625,-4.98437 0.00391,-6.88281zM45.16016,4.83984c1.11719,1.11719 1.11719,2.9375 0,4.05469c-0.33203,0.32813 -0.61328,0.61328 -0.85547,0.85547l-4.05469,-4.05469c0.46094,-0.46094 0.85547,-0.85547 0.85547,-0.85547c0.53906,-0.54297 1.26172,-0.83984 2.02734,-0.83984c0.76563,0 1.48438,0.30078 2.02734,0.83984zM5.60547,41.15234l3.24219,3.24219l-4.43359,1.19141z">
                        </path>
                      </g>
                    </g>
                  </svg>
                </button>
              </div>
              <h1> Hola <%= userData.firstname%>
                  <%= userData.lastname%>
              </h1>
            </div>
            <form action="" method="" class="formEditProfile">
              <div class="groupInput">
                <div class="singleInput">
                  <label for="firstname">Nombre</label>
                  <input type="text" name="firstname" value="<%= userData.firstname%>">
                </div>
                <div class="singleInput">
                  <label for="lastname">Apellido</label>
                  <input type="text" name="lastname" value="<%= userData.lastname %>">
                </div>
              </div>
              <div class="groupInput">
                <div class="singleInput">
                  <label for="email">Email</label>
                  <input type="text" name="email" value="<%= userData.email %>">
                </div>
                <div class="singleInput">
                  <label for="gender">Genero</label>
                  <input type="text" name="gender" value="<%= userData.gender %>">
                </div>
              </div>
              <div class="groupInput">
                <div class="singleInput">
                  <label for="password">Contraseña</label>
                  <input type="text" name="password">
                </div>
                <div class="singleInput">
                  <label for="confirmedPass">Confirmar contraseña</label>
                  <input type="text" name="confirmedPass">
                </div>
              </div>
              <div class="buttonSubmitContainer">
                <button type="submit" class="ingresar">Guardar cambios</button>
              </div>
            </form>
          </div>
        </article>
      </section>
    </main>

    <%- include ("../partials/footer.ejs") %>
</body>

</html>